
@{
    ViewData["Title"] = "Login";
}

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Acesso Negado</h1>
        <p class="lead">favor realizar o Login.</p>
    </div>
</div>