
@{
    ViewData["Title"] = "Página Não Encontrada";
}

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Página Inexistente </h1>
        <p class="lead">"Tu tá maluco? Respeita o moço...Patente alta, bigode grosso".</p>
    </div>
</div>