
@{
    ViewData["Title"] = "Policy Administrador";
}

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Policy = Administrador</h1>
        <p class="lead">Policy = Administrador.</p>
    </div>
</div>