
@{
    ViewData["Title"] = "Roles Gerentes";
}

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Roles = Gerentes</h1>
        <p class="lead">Roles = Gerente.</p>
    </div>
</div>