
@{
    ViewData["Title"] = "Roles Supervisor";
}

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Roles = Supervisor</h1>
        <p class="lead">Roles = Supervisor.</p>
    </div>
</div>