
@{
    ViewData["Title"] = "Roles Usuario";
}

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Roles = Usuario</h1>
        <p class="lead">Roles = Usuario.</p>
    </div>
</div>